<div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

            <!-- Add a Form with the following Inputs (and Validators)

                 1) Mail address (should not be empty and should be an email address)
                 2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro") Set "Advanced" as Default
                 3) A Password field (should not be empty)
                 4) A Submit Button

                 Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

                 Upon submitting the form, you should simply print the Value of the Form to the Console.
                 Optionally, display it in your template.
            -->

            <form #exerciseForm="ngForm" (ngSubmit)="onExerciseSubmit()">

                <div class="form-group">

                    <label for="email">Email</label>

                    <input id="email"
                           name="email"
                           class="form-control"
                           type="email"
                           ngModel
                           email
                           required
                           #email="ngModel">

                    <span class="help-block"
                          *ngIf="email.touched && email.invalid"
                          style="color: red">
                        Please enter a valid email!
                    </span>
                </div>

                <div class="form-group">

                    <label for="subscription">Subscription type</label>

                    <select id="subscription"
                            name="subscription"
                            class="form-control"
                            [ngModel]="defaultSubscription">
                        <option value="Basic">Basic</option>
                        <option value="Advanced">Advanced</option>
                        <option value="Pro">Pro</option>
                    </select>

                </div>

                <div class="form-group">

                    <label for="password">Password</label>

                    <input id="password"
                           name="password"
                           class="form-control"
                           ngModel
                           required
                           type="password"
                           #password="ngModel">

                    <span class="help-block"
                          *ngIf="password.touched && password.invalid"
                          style="color: red">
                        Please enter a password!
                    </span>

                </div>

                <button class="btn btn-primary"
                        type="submit"
                        [disabled]="exerciseForm.invalid">
                    Submit Exercise
                </button>

            </form>

        </div>

        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

            <span class="help-block"
                  *ngIf="exerciseForm.touched && exerciseForm.invalid"
                  style="color: red">
                The form is invalid
            </span>

            <ng-container *ngIf="submitted">
                <h3>Exercise data</h3>
                <p>Email : {{exerciseFormData.email}}</p>
                <p>Subscription : {{exerciseFormData.subscription}}</p>
                <p>Password : {{exerciseFormData.password}}</p>
            </ng-container>

        </div>

    </div>
</div>
