<div class="container-fluid main-content">

    <app-game-control (gameProgressEmitter)="onGameProgress($event)">
    </app-game-control>

    <div class="row">

        <ng-container *ngFor="let counter of gameCounters">

            <div class="col-xs-12">

                <ng-container *ngIf="counter % 2 === 0">
                    <app-even [gameCounter]="counter"></app-even>
                </ng-container>

                <ng-container *ngIf="counter % 2 !== 0">
                    <app-odd [gameCounter]="counter"></app-odd>
                </ng-container>

            </div>

        </ng-container>

    </div>

</div>
